:root{
    --rosso:#e30613;
    --nero:#080808;
    --bianco:#ffffff;
    --grigio:#cccccc;
    --font:Arial,sans-serif;
}

body{
    background-color:#080808;
    color: white;
    font-family:Arial,sans-serif;
    text-align:center;
}

h1{
    color:#e30613;
    font-size:70px;
    margin-top:100px;
    margin-bottom:10px;
}

h2{
    font-size:30px;
    color:white;
}

p{
    font-size: 20px;
    color:#cccccc;
}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQproI-AKh9qf2P2k5DAlipkvx2FmjdOeLtBfNyYyyXHA&s=10");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
     min-height: 100vh; 
}


